/* Modal Overlay */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 1000;
}

/* Modal Overlay for Clicking Outside to Close */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
}

/* Modal Content */
.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to bottom, #1c1c1c, #000000);
  padding: 2% 1%;
  border-radius: 20px;
  border: 5px solid #89daff;
  font-family: "Montserrat", sans-serif;
  width: 35%;
  z-index: 1001;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // animation: fadeIn 0.15s ease-in-out;
}

.edit-title{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "League Spartan", sans-serif;
  font-size: 2rem;
  font-style: italic;
  filter: drop-shadow(0 0 1rem #89daff);
}

.modal-lightning{
  width: 30px;
  filter: drop-shadow(0 0 1rem #ffffff);
  margin-top: 5%;
}


form{
  width: 100%;
}

.modal-inputs{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  margin: 5% 0 10% 0;
}

.input-top{
  font-family: "League Spartan", sans-serif;
  margin:0 0 0 0;
  color: #ffffff;
  filter: none;
}

.modal-inputs input{
  width: 60%;
  padding: 2% 1%;
  border: 2px solid #89daff;
  border-radius: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  color: white;
  background-color: #1c1c1c;  
  padding: 2% 2.5%;
}

.modal-interact-edit{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.save{
  width: 20%;
  background-color: #00aeff;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: white;
  border: 2.5px solid #00aeff;
  padding: 1.5% 0; 
  margin-bottom: 2%;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.25s;
}

.save:hover{
  background-color: #ffffff;
  color: #00aeff;
  filter: drop-shadow(0 0 0.4rem #00aeff);
}

.cancel{
  width: 20%;
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #ff7d7d;
  border: 2.5px solid #ff7d7d;
  padding: 1.5% 0; 
  margin-bottom: 2%;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.25s;
}

.cancel:hover{
  background-color: #ff7d7d;
  color: #ffffff;
  filter: drop-shadow(0 0 0.4rem #ff0000);
} 